body {
	background-color: rgb(225,225,225);
	font-family: sans-serif;
	font-size: 12px/18px;
	margin: 0;
}

header {
	background-color: lightgreen;
	border-bottom: 1px solid white;
	padding: 1rem;
	padding-left: 160px;
}

header h1 {
	margin-top: 0;
	color: white;
}

body > article {
	background-color: rgba(255,255,255,.5);
	padding: 1rem;
	padding-left: 160px;
}

body > article p:first-child {
	margin-top: 0;
}

pre {
	background-color: rgba(255,255,255,.9);
	padding: .5rem;
	width: 440px;
}

footer {
	background-color: tomato;
	color: white;
	font-size: .75rem;
	padding: 1rem;
	padding-left: 160px;
	clear: both;
}

a {
	color: darkred;
	word-wrap: break-word;
}

.timeline {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: .75rem;
}

.timeline > article {
	display: block;
	float: left;
	padding: .5rem;
	background-color: white;
	margin-bottom: 1rem;
	margin-right: 1rem;
	width: 400px;
}

.timeline h2 {
	border-bottom: 1px solid rgba(0,0,0,.25);
}

.timeline figure {
	margin: 0;
}

.timeline blockquote {
	font-style: italic;
	color: rgba(0,0,0,.95);
}
